/* header part */


.money{
    color: #41A372;
}



/* input part */


.money-field{
    background-color: #d9f2e6;
}


.calc-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* saving part */
.saving {
    width: 70%;
}
