.money{
    color: #41A372;
}

.money-field{
    background-color: #d9f2e6;
}
/* .money-input{
    
 /* display: block; */
  /* margin:0 auto; */
/* }   */

.calc-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.saving {
    width: 40%;
}
/* .save-input{
    display: flex;

} */